@import "tailwindcss";

@theme {
    --color-white-10: #ffffff;
    --color-white-20: #E0E5FF;
    --color-white-30: #EEF1FF;
    --color-black-10: #000000;
    --color-black-20: #444444;
    --color-black-30: #00000040;
    --color-blue-10: #344BC3;
    --color-purple-10: #8A38F5;
    --color-purple-20: #A4B3FF;
    --color-gray-10: #8D8D8D;
    --color-gray-20: #CCCCCC;
    --color-red-10: #FF4545;
    --color-green-10: #10B981;
    --color-blue-20: #2c44b0;
    --color-gray-30: #F3F4F6;

    --shadow-auth: 4px 4px 4px 0 var(--color-black-30);
    --shadow-search: 0px 4px 4px 0 var(--color-black-30);
    --shadow-card: 0px 4px 10px 0 var(--color-black-30);
    --shadow-toast: 0px 6px 5px 0 var(--color-black-30);
}

:root {
    color: var(--color-black-20);
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-white-20);
}

#root {
    display: flex;
    flex-direction: column;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 2px;
    background: var(--color-purple-20);
}

input[type="range"]::-moz-range-track {
    height: 2px;
    background: var(--color-purple-20);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-blue-10);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-blue-10);
    border: none;
    cursor: pointer;
}